.large-container{
    width: 400px;
    height: 150px;
}

.small-container{
    width: 200px;
    height: 150px;

}

.day{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dayMain{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;    
    justify-content: center;
    width: 80%;
    max-width: 950px;
    min-width: 850px;
}

.event-killplayer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-aliveplayers{
    grid-row: 2/3;
}
.event-death{
    grid-row: 3/4;

}
.event{
    margin-top: 20px;
}

.upper-page-area{
    display: flex;
    align-items: center;
}
.event-killplayer{
    grid-column: 3/4;
    grid-row: 2/4;
}
.event-hiddenocurrence{
    grid-row: 2/4;
    grid-column: 2/3;

}
.event-hiddenocurrence-inner{
    width: 200px;
    height: 350px;
}
.event-status{
    grid-column: 2/4;
}
p{
    margin-left: 10px;
}
.visitPlace, .announcePlace, .statusPlace, .statusAflictions, .armadilhaPlace{
    display: flex;
    flex-wrap: wrap;
}
.visitPlace-visitee, .statusPlace-player, .announcePlace-announce, .statusAfliction-player, .armadilhaPlace-visitor{
    color: #f0f378;
}
.announcePlace-function, .statusPlace-evento, .statusAfliction-evento{
    color: rgb(225, 146, 0)
}
.visitPlace-visited, .announcePlace-killer{
    color: rgb(206, 4, 4);
}
.townies{
    color: rgb(8, 196, 8);
}
.mafiaies{
    color: rgb(222, 6, 6);
}
.covenies{
    color: rgb(4, 4, 188);
}
.neutraies{
    color: rgb(135, 135, 142);
}
.horsies{
    color: rgb(238, 235, 182);
}
.alivePlayersConfig{
    display: flex;
    margin-left: 10px;
}
.contentRead{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modalNotifier{
    margin: 10px 0px;
    flex-direction: column;
    display: flex;
    min-width: 300px;
}
.notifier-title{
    border-bottom: 1px solid #f0f378;
}
.statusPlaceModal{
    align-items: center;
}
.modalkill{
    align-items: center;
}

.modalkill select{
    width: 50%;
    margin: 10px 0px;
}
.voteCountCard{
    display: flex;
    flex-direction: column;
}
.voteCountCard input{
 width: 30px;
}
.voteCountCard .voteCountInput{

}
.contentDeathAnouncement{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.buttoncontainer{
    display: flex;
    justify-content: center;
}
.voteCountMain{
    display: flex;
}

.trigger{
    border-radius: 10px;
    margin-left: 5px;
    animation: glowing 1300ms infinite;
}
.direto{
    display: flex;
}
#innerbomb:enabled{
    animation: glowing 1300ms infinite;
}
@keyframes glowing {
    0% {
      background-color: #e6ff04;
      box-shadow: 0 0 5px #f9f92a;
    }
    50% {
      background-color: #e9f83f;
      box-shadow: 0 0 20px #eeff00;
    }
    100% {
      background-color: #e6ff04;
      box-shadow: 0 0 5px #f9f92a;
    }
  }