.large-container{
    width: 400px;
    height: 150px;
}

.small-container{
    width: 200px;
    height: 150px;

}

.day{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dayMain{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;    
    justify-content: center;
    width: 80%;
    max-width: 950px;
    min-width: 850px;
}

.event-killplayer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event{
    margin-top: 20px;
}