.huge-container{
        width: 600px;
        height: 300px;
        display: flex;
    flex-direction: column;
    align-items: center;
}
.night{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nightMain{
    display: flex;

}

.event-currentplayers{
    margin-left: 20px;
}

.night-right{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.night-right button{
    margin-top: 20px;
}
.modalNight{
    background-color: #121212;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.investigativeContent{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.huge-container .information{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 120px;
    align-items: center;
}

.actionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
}

.actionContainer .droppers{
    display: flex;
    flex-direction: column;
}

.actionContainer .droppers select{
    min-width: 150px;
    max-width: 150px;
}
.buttonBox{
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttonBox .button{
    margin: 0px 10px;
}