.signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

.signUp .form label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}