@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'IM Fell Great Primer SC', serif;
    text-decoration: none;
}

body{
    background-color: #121212;
    color: #FFF;
}
h1, h2, h3, h4{
    font-weight: 400;
}

h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
.button{
        background-color: #B0B159;
        color: #000;
        width: 150px;
        max-height: 35px;
        min-height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #836E00;
        transition: all ease .5s;
        font-size: 16px;
        margin: 5px 0px;
        padding: 0;
        box-sizing: border-box;
}
.button:hover, .smallButton:hover, .miniButton:hover{
    background-color: #f9fb7a;
    cursor: pointer;
}
.smallButton:disabled{
    background-color: gray;
    border: gray;
    cursor: not-allowed;
}
.button:disabled{
    background-color: gray;
    border: gray;
    cursor: not-allowed;
}
.smallButton{
    background-color: #B0B159;
    color: #000;
    width: 50px;
    max-height: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #836E00;
    transition: all ease .5s;
    font-size: 16px;
    margin: 5px 0px;
    margin-left: 10px;
    padding: 0;
    box-sizing: border-box;
}
.miniButton{
    background-color: #B0B159;
    color: #000;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #836E00;
    transition: all ease .5s;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
}
.miniButtonLeft{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.miniButtonRight{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card-border{
    border: 1px solid #836E00;
    border-radius: 25px;
}

input, select{
    border-radius: 10px;
    padding: 5px 20px;

}

.counterBox{
    border: 1px solid #836E00;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0px 5px  5px 5px  ;
}
.counterInfo{
    margin: 10px 0px;
}
.alivePlayersTitle{
    display: flex;
}


.scrollable{
    overflow-y: auto;

}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: gray;
}

::-webkit-scrollbar-thumb{
    background-color: #f9fb7a;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    
  }

::-webkit-scrollbar-button{
    visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Css for game mechanics */

.invisible{
    display: none !important;
}

.popup-content {
    background-color: #121212;
    border: 1px solid #B0B159 ;
    border-radius: 15px;
}

@keyframes anvil {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
  }
  .popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  }

  .fade-in-text1 {
    animation: fadeIn 5s;
  }
  .fade-in-text2 {
    animation: fadeIn 8s ;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  .victoryPlace{
    display: flex;
  }

  .victoryCounterBox{
    padding: 0 !important;
    width: 30px;
  }

  .bordered2{
    border: 1px solid #836E00;
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  